@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  overflow: hidden;
  margin: 0;
  padding: 0;
  animation: backgroundTransition 60s infinite alternate;
}

hr {
  border: none;
  border-top: 2px solid #000000;
  margin: 50px;
}

@keyframes backgroundTransition {
  0% {
    background-color: #f9be13;
  }
  50% {
    background-color: #bff09e;
  }
  75% {
    background-color: #45a6d8;
  }
  100% {
    background-color: #f9be13;
  }
}

h1.logo {
  position: fixed;
  top: 5%;
  left: 4%;
  transform-origin: top left;
  font-size: 40px;
  color: #333;
  transition: transform 0.5s ease;
}

h1.logo a {
  cursor: default;
}

.background-iframes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px; /* Adjust the gap as needed */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw; /* Set the width as needed */
  height: 70vw; /* Set the height to match the width for a square */
  max-width: 800px; /* Set a max-width if necessary */
  max-height: 800px; /* Set a max-height if necessary */
}

.iframe-container {
  width: 100%; /* Adjusted to 100% to cover the entire width of the parent */
  height: 100%; /* Set to 50% to maintain the aspect ratio */
  position: relative;
  overflow: hidden;
}

.iframe-container iframe {
  width: 100%;
  height: 100%; /* Set to 100% to cover the entire height of the parent */
  border: none;
  border-radius: 50%;
}


.text-links {
  position: fixed;
  top: 40px;
  right: 50px;
  text-align: center;
  z-index: 2;
}

.text-links a {
  display: block;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
  transform-origin: top right;
  font-size: 25px;
}

.works-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  visibility: hidden;
}

.projects {
  position: relative;
  display: inline-block;
  color: #333;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
  background-color: #ff9fc7;
  border: 2px solid black;
  width: 120vw;
  margin: 1vh;
}

.projects:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.collaborations {
  background-color: rgba(255, 255, 255, 0.2);
}

.collaborations:hover {
  background-color: #ff9fc7;
}

.overlay-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 999;
  overflow-x: hidden;
}

.overlay-content {
  position: relative;
  width: 80vw;
  height: 95vh;
  background-color: white;
  border: 2px solid #000;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

.close-button {
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-weight: 50;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: fixed;
  border: none;
  top: 0px;
  right: 0px;
  z-index: 999;
}

.project-title {
  font-size: 24px;
  margin-bottom: 10px;
  margin: 50px;
  text-align: left;
}

.project-description {
  margin: 50px;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}

.slideshow {
  margin: 40px;
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
  max-height: 600px;
}

.swiper-container {
  position: relative;
}

:root {
  --swiper-navigation-color: rgb(192, 192, 192);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: black;
}

.swiper-pagination-bullet-active {
  background-color: black;
}

.logo {
  cursor: pointer;
}

.about-content {
  color: #161616;
  display: none;
  margin-top: 30vh;
  margin-left: 5%;
  overflow-y: auto;
  max-height: calc(70vh - 30px);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  margin-right: 40px;
}

.image-container img {
  max-width: 500px;
}

.text-container {
  max-width: 70vw;
}

.text-container h5 {
  font-size: 11px;
  font-weight: 400;
  line-height: 2;
}

.text-container h6 {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  cursor: default;
}

.text-container a {
  font-weight: 700;
  color: black;
  text-decoration: none;
}

.text-container a:hover {
  background-color: yellow;
}

.overlay-content::-webkit-scrollbar {
  width: 3px;
}

.overlay-content::-webkit-scrollbar-thumb {
  background-color: black;
}

.overlay-content::-webkit-scrollbar-button {
  display: none;
}

.overlay-content::-webkit-scrollbar-track {
  background-color: transparent;
}

.about-content::-webkit-scrollbar {
  width: 4px;
}

.about-content::-webkit-scrollbar-thumb {
  background-color: black;
}

.about-content::-webkit-scrollbar-button {
  display: none;
}

.about-content::-webkit-scrollbar-track {
  background-color: transparent;
}

@media screen and (max-width: 1000px) {
/*   .iframe-container {
    width: 90vw;
    height: 90vw;
    max-width: none;
    max-height: none;
  } */

  h1.logo {
    top: 2%;
    left: 5%;
    font-size: 40px;
  }

  .text-links {
    top: 50px;
    right: 70px;
  }

  .about-content {
    margin-top: 20vh;
    max-height: calc(80vh - 250px);
  }

  .text-container h6 {
    max-width: 500px;
    font-weight: 400;
    line-height: 1.2;
    cursor: default;
  }

  .image-container {
    margin-right: 20px;
  }

  .swiper-zoom-container>canvas,
  .swiper-zoom-container>img,
  .swiper-zoom-container>svg {
    max-height: 700px;
  }

  .overlay-content {
    width: 92vw;
    height: 70vh;
    border: 4px solid #000;
  }

  .project-title {
    font-size: 40px;
  }

  .project-description {
    font-size: 25px;
  }

  .close-button {
    width: 60px;
    height: 60px;
    font-size: 60px;
  }

  .swiper-pagination-fraction {
    font-size: 20px;
  }
}

@media screen and (max-height: 750px) {
  h1.logo {
    top: 1%;
    left: 5%;
    font-size: 50px;
  }

  .text-links a {
    font-size: 20px;
  }

  .swiper-zoom-container>canvas,
  .swiper-zoom-container>img,
  .swiper-zoom-container>svg {
    max-width: 400px;
  }

  .image-container img {
    max-width: 400px;
  }
  
  .background-iframes {
    gap: 20px; /* Adjust the gap as needed */
    width: 50vw; /* Set the width as needed */
    height: 50vw; /* Set the height to match the width for a square */
    max-width: 600px; /* Set a max-width if necessary */
    max-height: 600px; /* Set a max-height if necessary */
  }
   
}
